.mobile-header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}

.mobile-header button {
  all: unset;
}

.drawer-list {
  width: 280px;
  background-color: wheat;
}

@media screen and (max-width: 768px) {
  .mobile-header {
    padding: 0 10px;
  }

  .mobile-header > button {
    padding: 0 !important;
  }

  .drawer-links {
    padding: 30px;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
  }
}
