.support-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  width: 1300px;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 60px 30px;
  text-align: center;
  background-image: url("../../../public/imgs/SupportRefs/operator.svg");
  background-repeat: no-repeat;

  background-position: 120%;
}

/* .support-form {
  height: 400px;
} */

.support-form {
  align-items: center;
  width: 600px;
  gap: 22px;
  display: flex;
  flex-direction: column;
}

.MuiInputBase-root,
.MuiSelect-root,
.MuiOutlinedInput,
textarea {
  width: 100%;
  height: 50px;
  font-family: inherit !important;
  border-radius: 20px !important;
  border: 3px #1d7ac1 solid;
  padding: 0 20px;
  resize: none;
  font-size: 20px !important;
  font-weight: 400;
  line-height: 30px;
}

.support-form > textarea {
  padding-top: 15px;
  height: auto !important;
}

@media screen and (max-width: 425px) {
  .support-heading {
    margin: 0;
  }
  .support-block {
    padding: 30px 15px;
    border-radius: 30px;
    background-position-x: 100px;
    background-size: 150%;
  }
  .support-form {
    width: 100%;
    transform: scale(0.9);
  }
}
