.payment-block {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 1300px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 80px;
}

.payment-heading {
  font-size: 64px;

  text-align: center;
}

.payment-variables {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  height: 100%;
  font-size: 32px;
}

.banks {
  padding-left: 15px;
}

.banks p {
  font-size: 20px;
}
.payment-variables h3 {
  font-size: 32px;
  font-weight: 600;
}

.oplata-banki {
  margin-top: 20px;
  font-size: 20px;
}

.banks-list {
  font-size: 18px;
  margin-top: 10px;
  padding-left: 15px;
}

.payment-guides {
  margin-top: 0.67em;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .payment-heading {
    margin-top: 0;
  }
  main {
    padding: 40px 15px;
  }
  .payment-block {
    padding: 30px 15px;
    width: 100%;
    border-radius: 25px;
  }
}

@media screen and (max-width: 425px) {
  .payment-heading {
    margin: 0;
  }
  .payment-block {
    padding: 30px 15px;
    border-radius: 30px;
    gap: 20px;
  }
}
