.MuiModal-root {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SelectPackdge {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 25px 10px;
  padding: 30px 15px;
  max-width: 400px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
}

.SelectPackdge h2 {
  margin-bottom: 20px;
}

.SelectPackageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 15px;
}
