header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.header-content {
  width: 1400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content {
  padding-left: 30px;
}
.header-links {
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.speedtest-button {
  width: 210px;
  height: 47px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(70deg, #7abaee 0%, #4380b1 100%);
  margin-right: 20px;
}
.speedtest-button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
