.popular-rates {
  width: 100%;

  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rates-content {
  width: 1300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 0;
}

.rates-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.popular-rates-title {
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 0;
}
.cards-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  list-style-type: none;
  padding: 10px;
}
.rates-btn-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rates-btn {
  width: auto;
  height: 100%;
}
.rates-btn-left {
  border-right: none !important;
  background-image: none;
  background-color: #1d7ac1;
  border: 3px solid #1d7ac1;
  color: white;
  border-radius: 20px 0px 0px 20px;
}
.rates-btn-right {
  background-image: none;
  background-color: white;
  border: 3px solid #1d7ac1;
  border-left: none !important;
  color: black;
  border-radius: 0px 20px 20px 0px;
}

.bcg-img {
  z-index: -2;
  position: absolute;
  margin-right: 1300px;
}
@media (max-width: 1300px) {
  .rates-content {
    width: 100%;
  }
  .cards-container ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 630px) {
  .cards-container ul {
    gap: 30px;
  }
  .popular-rates-title {
    font-size: 54px;
    font-weight: 400;
  }
}
@media (max-width: 480px) {
  .popular-rates-title {
    font-size: 32px;
    font-weight: 600;
  }
}

@media screen and (max-width: 425px) {
  .rates-content {
    padding: 0;
  }

  .rates-heading {
    gap: 10px;
  }

  .rates-btn-container {
    margin: 0;
  }
}
