.rates-card {
  width: 250px;
  height: 300px;
  border-radius: 40px;
  border: 3px solid #1d7ac1;
  background-color: #e1f1ff;
  box-sizing: border-box;
  padding: 39px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rates-card h4 {
  font-size: 22px;
  font-weight: 500;
}

.sped-section {
  text-align: start;
}

.sped-section h5 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.sped-section span {
  font-weight: 500;
}

.rates-card h5 {
  font-size: 32px;
  font-weight: 300;
}
/* 
.rates-card h4 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0;
}
.rates-card h5 {
  font-size: 32px;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 23px;
}
.rates-card h6 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}
.rates-card p {
  font-size: 14px;
  font-weight: 400;
  color: #7c7b7b;
  margin-top: 40px;
  margin-left: 23px;
  margin-bottom: 0;
}

.rates-card #price {
  text-align: center;
  margin-left: 0;
  margin-top: 25px;
} */
