.main-slide {
  width: 100%;
  height: 500px;
  background: linear-gradient(70deg, #66ace2 0%, #408fcb 100%);
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main-slide-content {
  width: 1300px;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-slide-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 30px;
  /* line-height: 90px; */
}
.main-slide-text h1 {
  font-size: 90px;
  color: #ffff;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}
.main-slide-text h2 {
  font-size: 64px;
  color: #ffff;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}
.main-slide .hr {
  width: 600px;
  height: 3px;
  /* background: linear-gradient(70deg, #97caff 0%, #5f93ca 100%); */
  background: rgb(151, 202, 255);
  -webkit-box-shadow: 0px 4px 9.6px 0px #1d7ac1;
  -moz-box-shadow: 0px 4px 9.6px 0px #1d7ac1;
  box-shadow: 0px 4px 9.6px 0px #1d7ac1;
}
.main-slide-btn-container {
  height: auto;
  display: flex;
  gap: 20px;
}
.main-slide-connect-button {
  color: #ffff;
  padding: 15px;
  background-color: #3785c4;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
}
/* .main-slide-connect-button a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
} */
@media (max-width: 1340px) {
  .main-slide-img {
    width: 35%;
  }
  .main-slide-img img {
    width: 460px;
  }
  .main-slide-text {
    padding-left: 60px;
  }
  .main-slide-text h1 {
    font-size: 70px;
  }
  .main-slide-text h2 {
    font-size: 48px;
  }
  .main-slide-text .hr {
    width: 400px;
  }
}
@media (max-width: 980px) {
  .main-slide-img {
    width: 35%;
    padding-left: 15px;
  }
  .main-slide-img img {
    width: 360px;
  }
  .main-slide-text h1 {
    font-size: 60px;
  }
  .main-slide-text h2 {
    font-size: 38px;
  }
  .main-slide-text .hr {
    width: 320px;
  }
  .main-slide-connect-button {
    width: auto;
    font-size: 16px;
  }
}
@media (max-width: 830px) {
  .main-slide-img {
    display: none;
  }
  .main-slide-text {
    padding-left: 60px;
  }
  .main-slide-text h1 {
    font-size: 90px;
  }
  .main-slide-text h2 {
    font-size: 68px;
  }
  .main-slide-text .hr {
    width: 560px;
    height: 4px;
  }
  .main-slide-connect-button {
    width: auto;
    font-size: 26px;
  }
  .main-slide-text {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .main-slide-text {
    padding-left: 20px;
  }
  .main-slide-text h1 {
    font-size: 74px;
  }
  .main-slide-text h2 {
    font-size: 54px;
  }
  .main-slide-text .hr {
    width: 430px;
    height: 4px;
  }
  .main-slide-connect-button {
    width: auto;
    font-size: 20px;
  }
  .main-slide-text {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .main-slide-text {
    padding-left: 20px;
  }
  .main-slide-text h1 {
    font-size: 48px;
  }
  .main-slide-text h2 {
    font-size: 40px;
  }
  .main-slide-text .hr {
    width: 340px;
    height: 4px;
  }
  .main-slide-connect-button {
    width: auto;
    font-size: 13px;
  }
  .main-slide-text {
    width: 100%;
  }
  .main-slide {
    height: 355px;
  }
}
