.NewsCard {
  width: 500px;
  background: rgb(225, 241, 255);
  padding: 20px 25px;
  border-radius: 20px;
  max-height: 300px;
  overflow: hidden;
  box-sizing: border-box;
}
.NewsText {
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}

.NewsHeading {
  width: auto;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 10px;
}

.HeadigAccent {
  width: 250px;
  margin-top: 3px;
  height: 3px;
  background: rgb(151, 202, 255);
  border: none;
}
.NewsDate {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  color: #c0c5ca;
  text-align: end;
}
@media (max-width: 550px) {
  .NewsCard {
    width: 440px;
  }
}

@media (max-width: 480px) {
  .NewsCard {
    width: 352px;
  }
}

.MuiDialogContentText-root {
  font-family: "TT Norms Pro" !important;
  font-size: 18px !important;
  color: black !important;
}

.MuiDialogTitle-root {
  font-family: "TT Norms Pro" !important;
  font-weight: bold !important;
  font-size: 24px !important;
  color: black !important;
}

.MuiDialog-paper {
  margin: 10px !important;
  background: rgb(225, 241, 255) !important;
  border-radius: 20px !important;
}
