footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 190px;
  background-color: #e1f1ff;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.footer-content {
  display: flex;
}
.footer-content a {
  text-decoration: none;
  color: black;
  font-weight: 200;
  text-align: start;
}
.footer-content h5 {
  font-size: 16px;
  text-align: start;
  margin-bottom: 10px;
}
.footer-content h6 {
  font-size: 14px;
  text-align: start;
  margin-top: 5px;
  margin-bottom: 0;
}
.footer-content-block {
  width: 210px;
}
