footer {
  display: flex;
  align-self: end;
  margin-top: auto;
  width: 100%;
  height: 190px;
  background-color: #e1f1ff;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.25);
}
.footer-content {
  display: flex;
  gap: 140px;
}
.footer-content a {
  text-decoration: none;
  color: black;
  font-weight: 200;
  text-align: start;
}
.footer-content h5 {
  font-size: 16px;
  text-align: start;
  margin-bottom: 10px;
}
.footer-content h6 {
  font-size: 14px;
  text-align: start;
  margin-top: 5px;
  margin-bottom: 0;
}
.footer-content-block {
  width: auto;
}

@media (max-width: 940px) {
  .footer-content {
    gap: 40px;
  }
}
@media (max-width: 620px) {
  .footer-content {
    gap: 22px;
  }
  .footer-content h5 {
    font-size: 14px;
  }
  .footer-content h6 {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  footer {
    height: 100px;
  }
  .footer-content {
    gap: 30px;
  }
  .footer-content h5 {
    font-size: 11px;
    font-weight: 200;
  }
  .footer-content h6 {
    font-size: 8px;
    font-weight: 200;
  }
}
