.news-section {
  width: 100%;
  padding: 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.news-content {
  margin: 0 auto;
  width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  justify-content: center;
}

.cards-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.news-heading {
  font-size: 64px;
  font-weight: 400;
}

.NewsList {
  list-style-type: none;
  display: flex;
}
.bcg-img2 {
  position: absolute;
  z-index: -2;
  margin-left: 1500px;
}
