@font-face {
  font-family: "TT Norms Pro";
  src: url("/public/fonts/TT Norms Pro Regular.otf");
}

body {
  margin: 0;
  font-family: "TT Norms Pro";
  overflow-x: hidden;
}
button {
  font: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: outset red 1px; */
}
