@font-face {
  font-family: "TT Norms Pro";
  src: url("/public/fonts/TT Norms Pro Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("/public/fonts/TT Norms Pro Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("/public/fonts/TT Norms Pro Medium.otf");
  font-weight: 600;
}

body {
  margin: 0;
  font-family: "TT Norms Pro";
  overflow-x: hidden !important;
}
button {
  transition: all 0.3s ease;
  background-image: linear-gradient(
    90deg,
    rgb(29, 119, 193),
    rgb(85, 170, 231) 100%
  );
  background-size: 200%;
  background-position: 0 0;
  width: fit-content;
  font: inherit;
  height: 50px !important;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 20px !important;
  border-radius: 20px;
  border: none;

  color: #fff;
}
button:hover {
  background-position: 100%;
}
button:disabled {
  filter: grayscale(1);
}

textarea,
input {
  transition: all 0.4s ease;
}
textarea:focus,
input:focus {
  outline: none;
  border: #48799f 3px solid !important;
  transition: all 0.4s ease;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.05),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: calc(100vh - 100px - 190px);
  background: linear-gradient(45deg, #66ace2 0%, #408fcb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

main a {
  color: inherit;
}

h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 600 !important
  ;
  line-height: 68px;
}

p {
  font-size: 18px;
}

ul {
  list-style: none;
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 48px !important;
    line-height: 52px;
    transform: scale(0.9);
  }
  h2 {
    line-height: 26px !important;
  }
}
