main {
  width: 100%;
  min-height: calc(100vh - 100px - 190px);
  background: linear-gradient(45deg, #66ace2 0%, #408fcb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
main a {
  color: inherit;
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  width: 1300px;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 60px 30px;

  background-image: url("../../../public/imgs/AboutPageRefs/about.svg");
  background-repeat: no-repeat;
  background-position: 120% 310%;
}

.about-us {
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  z-index: 2;
}

.info p {
  display: flex;
  width: 100%;
  font-size: 20px;
}

.contacts {
  width: 1360px;
  height: 158px;
  padding-left: 35px;
}

.contacts li {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 5px;
  margin-bottom: 5px;
}

.phone-text {
  font-size: 18px;
  margin-top: 20px;
}

.contact-text {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.heading-contacts {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
