.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding-bottom: 25px;
  /* Center slide text vertically */
}
.swiper-slide img {
  display: block;
  border-radius: 10px;
  max-height: 100%;
  max-width: 45%;
  width: auto;
  object-fit: contain;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.ExplaineingIlustration {
  box-shadow: none !important;
  position: absolute;
  z-index: -1;
  width: 60px !important;
  top: 200px;
}
.TextWrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45%;
  height: auto;
}

.TextWrapp p {
  font-weight: bold;
}

.ExplaneeingImg {
  position: relative;
  z-index: -1;

  opacity: 0.3;
  box-shadow: none !important;
  width: 100px;
  height: 100px;
  align-self: start;
  right: 89%;
  bottom: 30px;
}

.swiper-text::before,
.swiper-text-style {
  content: "";
  font-size: 400px;
  font-family: inherit !important;
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 10%;
  color: rgb(29, 122, 193);
  /* background-size: 100px 100px; */
  /* filter: invert(33%) sepia(98%) saturate(3551%) hue-rotate(201deg)
    brightness(104%) contrast(107%);
  background-image: url("../../../../public/imgs/PaymentRefs/info-circle-svgrepo-com.svg"); */
  opacity: 0.3;
}
.swiper-slide p {
  width: auto;
  text-align: start;
}
